<main class='container'>
  <h1>Real Time Products</h1>
  <section class='products'>
  </section>
</main>

<script src='socket.io/socket.io.js'></script>
<script src='scripts/productsScript.js'></script>